*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus{
  outline-color: yellow;
}

table{
    background-image: linear-gradient( to bottom right,red , yellow,blue,rgb(70, 0, 128) ) !important;
    margin:auto ;
    
    
    flex-wrap: wrap;
    border-radius: 25px;
    box-shadow: 10px 10px 1px 2px rgb(123, 148, 170);
    padding: 10px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
    
}
.fa-pen-to-square{
    color: rgb(115, 235, 115);
    padding: 8px;
}
.fa-pen-to-square:hover{
    transform: scale(1.5);
}
tr >td{
    padding: 3px;
    text-align: center;
}
.fa-trash{
    color: rgb(238, 63, 63);
    padding: 5px;
}
.fa-trash:hover{
    font-size: 20px;
    transform: scale(1);

}
.fa-trash:active{
    transform: scale(.5);
}
tr{
   background-color: rgb(75, 84, 92);
   color: rgb(209, 218, 218);
    border: 2px solid red;
}
tr:first-child{
    border-bottom: 20px solid red;
    margin-top: 2px;
    color: #333;
    
    
    background-color: aliceblue;
}

.listv{

 
    margin-top: 25px;
}
body{
    background-color: rgb(71, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.cardv{
    margin: 0;
    flex-wrap: wrap;
    background-color: rgb(35, 65, 65);
    padding: 20px;
    justify-content: center;
    

}
[id^="but"]{
    display: flex;
    

}
.btn-primary{
    background-color: green;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
}
.btn-success{
    background-color: yellow;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    
}
img{
    border-radius: 25px;
}
.col{
    background-image: linear-gradient(45deg,rgb(159, 240, 229),rgb(136, 144, 223),rgb(206, 235, 199),rgb(203, 243, 240));
   margin: 20px;
   padding: 10px;
   border-radius: 25px;
   box-shadow: 8px 8px  rgb(107, 107, 98);

}